<header class='header'>
  <h1 class='title'>
    <a href='{{site.baseurl}}/'>
      Jens Spahn <span>MdB</span>
    </a>
  </h1>

  <nav class="menu">
    <div class="menu__links">
      {% assign sorted_pages = site.pages | sort: "order" %}
      {% for page in sorted_pages %}
        {% if page.title and page.category == 'menu' %}
          <a class="menu__link" href="{{ page.url | relative_url }}">
            {{ page.title | escape }}
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="menu__social">
      <a class="twitter" href="https://twitter.com/jensspahn" target="_blank">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>

      <a class="facebook" href="https://www.facebook.com/jensspahn" target="_blank">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>

      <a class="instagram" href="" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
</header>
