@font-face {
  font-family: 'CeraPRO';
  src: url('fonts/CeraPRO-Regular.otf') format('opentype'),
  url('fonts/CeraPRO-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  color: $grey;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 1rem;
}

p + p {
  margin-top: 1rem;
}

h1,
h2 {
  font-weight: $bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: $grey;
  text-decoration: none;
}

a:hover {
  color: $orange;
}

ol li {
  margin-left: 1rem;
  padding-left: 0.5rem;
}

input,
button {
  -webkit-appearance: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;
}
