.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 90px;
}

.title {
  font-weight: $bold;
}

.title span {
  font-weight: $light;
}

.title a:hover {
  color: $grey;
}

.menu__links,
.menu__social {
  display: inline-block;
}

.menu__links a,
.menu__social a {
  display: inline-block;
}

.menu__links a {
  font-family: 'CeraPRO', 'Roboto', sans-serif;
  margin-right: 2rem;
}

.menu__social a {
  font-size: 1.2rem;
}

.menu__social a:not(:first-child) {
  margin-left: 0.3rem;
}

.menu .twitter:hover {
  color: $twitter;
}

.menu .facebook:hover {
  color: $facebook;
}

.menu .instagram:hover {
  color: $instagram;
}
