.flickity-prev-next-button {
  display: none;
}

.flickity-prev-next-button {
  width: 4rem;
  height: 4rem;
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: $grey;
}

.flickity-prev-next-button.no-svg {
  color: $grey;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.flickity-prev-next-button.previous {
  left: -3rem;
}

.flickity-prev-next-button.next {
  right: -3rem;
}

@media screen and (min-width: 768px) {
  .flickity-prev-next-button {
    display: block;
  }
}
