.flickity-prev-next-button {
  display: none;
}

.flickity-prev-next-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: $grey;
}

.flickity-prev-next-button.no-svg {
  color: $grey;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.flickity-prev-next-button.previous {
  left: -3rem;
}

.flickity-prev-next-button.next {
  right: -3rem;
}

.home .carousel {
  height: 100%;
}

.home .carousel-cell {
  height: 100%;
}

.home .flickity-slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .flickity-prev-next-button {
    display: block;
  }
}
