---
---
@charset 'utf-8';

$grey: #464f56;
$orange: #ec6726;

$twitter: #00acee;
$facebook: #3b5998;
$instagram: #953f9b;

$light: 300;
$normal: 400;
$bold: 500;

@import 'reset';
@import 'base';
@import 'header';
@import 'footer';
